*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    margin: 0;
    font-size: 16px;
    color: #65665c;
    background: #fff;
    line-height: 1.3;
    padding: 0 0 0 3rem;
}

@media (max-width: 840px) {
    body {
        padding: 0;
    }
    .side-bar{
        display: none;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.head {
    display: flex;
    flex-flow: wrap;
    justify-content: end;
    align-items: center;
    gap: 112px;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media screen and (max-width: 800px) {
    .head {
        gap: 25px;
        flex-flow: column;
    }
}

.head-nav ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    gap: 40px;
}
@media screen and (max-width: 800px) {
    .head-nav ul {
        gap: 20px;
    }
}
.head-nav a {
    text-decoration: none;
    line-height: 150%;
    color: #2a2c1f;
    margin-bottom: 3px;
}
@media (hover: hover) and (pointer: fine) {
    .head-nav a:hover {
        margin: 0;
        border-bottom: 3px solid #2a2c1f;
    }
}

.head-links {
    display: flex;
    gap: 24px;
}
.head-links a {
    padding: 9px 21px 9px 21px;
    line-height: 150%;
    text-decoration: none;
    color: #2a2c1f;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-position: left 21px top 50%;
    background-repeat: no-repeat;
    border: 1px solid #e7e8e3;
    border-radius: 6px;
}

.head-links button {
    background: #cf6f49;
    padding: 9px 27px;
    line-height: 150%;
    color: #fff;
    text-wrap: nowrap;
    border: 1px solid #cf6f49;
    border-radius: 6px;
}

.works {
    text-align: center;
}

.title {
    font-size: 48px;
    line-height: 120%;
    color: #2a2c1f;
    margin: 0 0 21px;
}

.works-description {
    font-size: 18px;
    line-height: 150%;
    margin: 0 auto 61px;
    max-width: 754px;
}

.works-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 29px;
}
.works-cards .card {
    border: 1px solid #e7e8e3;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 49px 30px 25px;
}
.works-cards .card-title {
    font-size: 24px;
    line-height: 140%;
    color: #2a2c1f;
    margin: 24px 0 17px;
}
.works-cards p {
    margin: 0 0 26px;
}
.works-cards a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2a2c1f;
    padding-right: 20px;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 5rem;
    background-color: #cf6f49;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

footer {
    position: relative;
    margin-top: 153px;
}

.foot {
    background: #e7e8e3;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 1182px;
    gap: 50px;
    padding: 24px 15px;
}

.foot-content {
    font-size: 14px;
    line-height: 150%;
    color: #65665c;
    text-decoration: none;
}

.foot-links {
    display: flex;
    gap: 12px;
}
.foot-links a {
    text-decoration: none;
    color: #65665c;
}
