.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.card {
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    flex: 1 1 250px;
    min-width: 200px;
    max-width: 300px;
}

.card-img{
    width: 100%;
    height: 100%;
}